DATABASE_URL=postgresql://postgres.yxlantxuhrjfhevyxwsy:Parag%40200712@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
FRONTEND_URL=http://localhost:5173
JWT_SECRET=2xiVvlxzj4GlTZ8aHKUwnsA8oxeu41ZktJh0ekrIqeA